body{
    background-color:#eeeeee;
    font-family: "Microsoft Yahei",sans-serif,Georgia,"Times New Roman",Times,Arial;
    margin: 0;
    padding: 0;
    color: #6b6b6b;
    font-size: small;
    line-height: 24px;
}
a{
    text-decoration: none;
}
h1{
    color: #1b1c1c;
    font-family: FontAwesome,"琥珀",Georgia;
}

header{
    height: 3em;
    font-size: 200%;
    margin: 0;
    padding: 0;
}
#main{
    border-spacing: 10px;
    margin: 0 auto;
    width: 1020px;
}



article{
    background-color: #FAFBFB;
    font-size: 120%;
    width: 750px;
    float: left;
    padding: 10px;
}

aside{
    float: right;
    background-color: #FAFBFB;
    font-size: 105%;
    width: 230px;
    height: 200px;
    padding-top: 20px;
}

aside ul li{
    line-height: 3;
}
aside ul li a{
    font-family: "Microsoft Yahei";
    color:#333;
    font-size: 14px;
}
ul{
    list-style-type: none;
}
article ul{
    padding: 20px;
}
article ul li h1{
    text-align: center;
}


.info-time .info-author{
    display: inline-block;
    height: 1em;
    font-size: 1em;
    padding-right: 1.25em;
    color: #6b6b6b;

}
span .read-more{
    text-align: center;
    border:#1b1c1c 2px solid;
    display: block;
    padding: 0 20px;
    width: 140px;
    margin: 20px auto;
    color: #1b1c1c;
}
.info{
    margin: 5px auto;
    font-family: "Times New Roman";
    text-align: center;
}


